<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hb.app.tong"
    android:versionCode="300"
    android:versionName="3.0" >

    <!-- 안드로이드 지원버전  최소 : 4.0.3 타겟 : 4.0.4 최대 : 5.0 -->
    <uses-sdk
        android:maxSdkVersion="21"
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission android:name="gps.tong.permission.MAPS_RECEIVE" >
    </permission>

    <!-- 퍼미션을 설정하는 곳 -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.hb.app.tong.TongActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.SAMPLE_CODE" />
        </intent-filter>
        <!-- </activity> -->
        <activity
            android:name="com.hb.app.tong.PrefActivity"
            android:label="@string/title_activity_preference" >
        </activity>
        <activity
            android:name="com.hb.app.tong.SetPreferenceActivity"
            android:label="@string/title_activity_set_preference" >
        </activity>
        <activity android:name="gps.tong.Regps" >
            <intent-filter>
                <action android:name="gps.tong.recgps" />
                <action android:name="android.intent.action.CREATE" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="gps.tong.Regps1" >
            <intent-filter>
                <action android:name="gps.tong.Recgps1" />
                <action android:name="android.intent.action.CREATE" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCpJuWqTuxv6zbsYmegxLE-LIhuqb4FFbY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>